@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .spinner {
    @apply w-5 h-5 border-2 border-current border-r-transparent rounded-full animate-spin;
  }
} 